<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ねぽらぼ一周年記念プロジェクト NePoLaBo 1st Anniversary Celebration Project</title>
    <meta name="description" content="ねぽらぼ一周年おめでとう！！！！！">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta property="og:title" content="ねぽらぼ一周年記念プロジェクト NePoLaBo 1st Anniversary Celebration Project" />
    <meta property="og:description" content="ねぽらぼ一周年おめでとう！！！！！" />
    <meta property="og:image" content="https://nepolabo.fans/android-chrome-512x512.png">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://nepolabo.fans/">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:title" content="ねぽらぼ一周年記念プロジェクト NePoLaBo 1st Anniversary Celebration Project">
    <meta name="twitter:image" content="https://nepolabo.fans/android-chrome-512x512.png">
    <meta name="twitter:url" content="https://nepolabo.fans/">

    <link rel="apple-touch-icon" sizes="180x180" href="apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="favicon-16x16.png">
    <link rel="manifest" href="site.webmanifest">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.1/normalize.min.css"
        integrity="sha512-NhSC1YmyruXifcj/KFRWoC561YpHpc5Jtzgvbuzx5VozKpWvQ+4nXhPdFgmx8xqexRcpAglTj9sIBWINXa8x5w=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
        integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
    <link rel="preload" href="dist/1920w.jpg" as="image" type="image/jpeg" media="(min-width: 1800px)">
    <link rel="preload" href="dist/1200w.jpg" as="image" type="image/jpeg" media="(min-width: 1100px) and (max-width: 1799px)">
    <link rel="preload" href="dist/960w.jpg" as="image" type="image/jpeg" media="(min-width: 800px) and (max-width: 1099px)">
    <link rel="preload" href="dist/600w.jpg" as="image" type="image/jpeg" media="(min-width: 500px) and (max-width: 799px)">
    <link rel="preload" href="dist/400w.jpg" as="image" type="image/jpeg">
    <link rel="preload" href="dist/img/chocostripe.png" as="image" type="image/png">
    <link rel="preload" href="dist/img/cake.png" as="image" type="image/png">
    <link rel="preload" as="font" type="font/woff2"
    href="https://fonts.gstatic.com/s/notoserifjp/v8/xn7mYHs72GKoTvER4Gn3b5eMXNvMckQlPa61uNKcCqOfbtLXoH3502Rk.119.woff2" crossorigin>
    <link rel="preload" as="font" type="font/woff2"
    href="https://fonts.gstatic.com/s/merriweather/v24/u-440qyriQwlOrhSvowK_l5-fCZM.woff2" crossorigin>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <link rel="stylesheet" href="dist/applyfont.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/3.5.0/css/flag-icon.min.css"
        integrity="sha512-Cv93isQdFwaKBV+Z4X8kaVBYWHST58Xb/jVOcV9aRsGSArZsgAnFIhMpDoMDcFNoUtday1hdjn0nGp3+KZyyFw=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.css"
        integrity="sha512-FHwwMXxhAWjVhJyEgmmPg/aJ3BRmsOavHBV6yMK55Mz0rycBZcRmSowqij+ncd/JPtOzmUMZx7ZIRnGyqIE/1A=="
        crossorigin="anonymous" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.2/css/bulma.min.css"> <!-- bulmacdn -->
    <link rel="stylesheet" href="dist/index.css">
</head>

<body>
    <div class="op_anim">
        <div class="curtain"></div>
        <div class="curtain"></div>
        <div class="curtain"></div>
        <div class="curtain"></div>
        <img src="dist/img/nplbbw2400.png" alt="" srcset="dist/img/nplbbw2400.png 2400w, dist/img/nplbbw1200.png 1200w, dist/img/nplbbw600.png 600w, dist/img/nplbbw300.png 300w"
        sizes="(max-width: 400px) 300px, (max-width: 700px) 600px, (max-width: 1300px) 1200px, 2000px">
    </div>

    <div class="scroll-to-top">
        <a class="button is-rounded" data-toggle="button" aria-pressed="true" (click)="scrollToTop()">
            <span class="icon">
                <svg class="arrow up" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="5 0 50 80" xml:space="preserve">
                    <polyline fill="none" stroke="#FFFFFF" stroke-width="8" stroke-linecap="round"
                        stroke-linejoin="round" points="
                0.375, 35.375 28.375, 0.375 58.67, 35.375 " />
                </svg>
            </span>
        </a>
    </div>
    <div id="ie11-cover"><p>Please use a different web browser to see this site.</p><p>このサイトを見るために他のウェブブラウザーを使ってください。</p></div>
    <div id="nojs-cover"><p>Please turn on Javascript to fully access this site's features.</p><p>このサイトの全ての機能を利用するためにはJavaScriptを有効にする必要があります。</p></div>
    <div id="content">
        <div id="bg-container"><div id="bg"></div></div>
        <div id="main-page" class="columns is-gapless">
            <div id="welcome-msg" class="column">
                <div id="sidetile" class="container has-text-centered">
                    <p class="title has-text-white">Happy 1st Anniversary!</p>
                    <p class="subtitle has-text-white">一周年おめでとうございます!</p>
                    <div class="paragraph-msg has-text-white">
                        <p lang=ja>素敵な思い出にあふれた１年</p>
                        <p lang=ja>感謝の気持ちを形にしました</p>
                        <p lang=ja>この先もずっとみなさんとの</p>
                        <p lang=ja>幸せな時間が続きますように</p>
                        <div class="full-scrn-center-align">
                            <div id=scroll-arrow-hint><span></span><span></span><span></span></div>
                        </div>
                    </div>
                </div>
            </div>
            <div id="bk-title">
                <p class="title has-text-white">Happy 1st Anniversary!</p>
                <p class="subtitle has-text-white">一周年おめでとうございます!</p>
            </div>
            <div id="nplb">
                <img src="dist/img/ne.png" srcset="dist/img/ne.png 600w, dist/img/ne200.png 200w" sizes="(max-width: 700px) 200px, 500px"/>
                <img src="dist/img/po.png" srcset="dist/img/po.png 600w, dist/img/po200.png 200w" sizes="(max-width: 700px) 200px, 500px"/>
                <img src="dist/img/ra.png" srcset="dist/img/ra.png 600w, dist/img/ra200.png 200w" sizes="(max-width: 700px) 200px, 500px"/>
                <img src="dist/img/bo.png" srcset="dist/img/bo.png 600w, dist/img/bo200.png 200w" sizes="(max-width: 700px) 200px, 500px"/>
            </div>
            <div class="column">
                <!-- svg defs -->
                <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"
                    viewBox="0 0 960 540">
                    <defs>
                        <filter id="grayscaleFilter">
                            <feColorMatrix in="sourcegraphic" type="matrix" values="0.1     0     0     0     0
                        0     0.1    0     0     0
                        0     0     0.1    0     0
                        0     0     0     1     0 " result="matrixOut" />
                        </filter>

                        <image id="photo" width="960" height="540" href="dist/1200w.jpg" />
                        <use id="grayscalePhoto" href="#photo" filter="url(#grayscaleFilter)" />

                        <path id="polka-path"
                            d="M250.56,2.81c.09-.5.06-.47.24-.72C253.29-.83,259.49.17,264.72.17h36.72c0,1.89-.61,2.47-1,3.6s.59,2.07,0,2.88c-.2.26-1.5,1.12-1.68,1.44l-.24,2.4a80.94,80.94,0,0,0-1.92,8.88c2.17,1.4.69,4.05.24,6.24,1.52-.24,2.7-1.24,4.08-1.68h1.68c1.74-.51,4.14-1.39,5.76-1.92.67-.22,1.53.08,1.68,0a15.58,15.58,0,0,0,2.64-1.92l.24-.72c1-.76,1.87-.54,2.88-1.2s1.08-1.38,2.4-1.68a11.61,11.61,0,0,0,3.12,2.16c3.31-2.14,9.55-2.88,13.44-4.32h1.92c.65-.23,1.7-1.2,2.4-1.44.41-.14,1.88-.11,2.4-.24,1.51-.4,3.18-1.32,4.32-1.68.79-.26,2,.23,2.64,0,1.15-.4,2.92-1.46,4.32-1.68.85-.14,1.9.1,2.4,0H359c5.26,0,7.25,1.1,9.6,4.32.94,1.29,1.24,3.9,1.2,6,0,.78-.61,1.55-.48,1.92,1.24,3.42-1.43,9.71-2.4,13.92-.38,1.63.86,2.59,1.2,3.6l.24,4.32c-1,.64-5.62,6.33-6,7.44,1.12,1.29-.26,3.5-1,4.56L358.56,58l-.24,1.2c-1.35,2-4.22,3.3-4.8,6,1.4,1.27.94,3,1.68,5,.14.38.82.81,1,1.2v1.44C357.22,76,358,79,358.8,82.25c.72,2.89.57,5.86,1.2,8.4v3.12c2,5.51,1.49,13,4.56,17.52a10.14,10.14,0,0,0,2.4,1.92l3.36,3.6c1.26,1,2.44,1.82,3.6,2.88,1.66,1.5,4.76,6,7,6.48,2.37-3.6,5.84-6.63,9.12-9.36a11.55,11.55,0,0,0,1.2-1.68c.56-.72,1.53-1,2.16-1.68.35-.36.33-1.14.72-1.44l1.2-.24c.78-.64,1.12-2,1.92-2.64a24.76,24.76,0,0,1,2.88-2.4l1.2-.24c.31-.25.6-1,1-1.2.9-.48,1.55-.24,2.4-.72.41-.24.69-1,1.2-1.2h1.68c4.34-1,6.83,0,10.08,1.2.91.34,5,1.68,5,1.68,2-1.56,5.38-4.82,7.92-5.52,1.92-.54,2.63.84,3.6,1.2l.72-.24a31.89,31.89,0,0,1,3.36,1.68c1.6,1,2.92,3.14,5,3.6,1.1-1.66,3.39-2.7,5-3.84,1-.69,1.88-2,2.88-2.64h.72c.29-.24.44-.93.72-1.2a35.6,35.6,0,0,0,5.52-6.48c.41-.65,1.44-1.1,1.92-1.68l.48-1.68c.46-.72,1.57-1.35,1.92-2.16a4.23,4.23,0,0,0,.24-2.4,42.46,42.46,0,0,1,3.12-5.52c1.14-2,.12-4.67,2.4-5.52a5.71,5.71,0,0,1,2.64-.24c.56.69,1.17.67,1.92,1.2.22.15.3.84.48,1l1-.24v.72c.24.26.67,0,1,.24s.29,1,.48,1.2c.31-.6-.1-.17.48-.48a13.31,13.31,0,0,0,2.4,3.84c.35.32.95,0,1.2.48,2.92,5.12,5.74,10.94,5.52,17.28,2.32.2,4.8-.73,6.72-1.44l4.32-.72c2.57-.78,5.4-2.6,7.92-3.36h1.68c1.35-.34,4.55-1.34,6.24-1A9.27,9.27,0,0,1,516.24,94c1.16,1,1.54,2.76,2.4,4.08,1.16,1.76,3.3,3.75,4.08,5.76.68,1.74.63,2.89,1.44,4.56.16.33.83.7,1,1.2.28,1.07-.21,3.25.24,4.8.36,1.25,1.76,1.88,2.16,3.12.71,2.19-.93,2.71-1.44,3.6v1.92l-1.68,1.44c-3.39.2-6.87,0-7.2-3.36a19.26,19.26,0,0,0-.24-4.08c-.42.15-.23,0-.48.24-1.12,1.58-1.34,4.38-3.84,4.56v.72a3.65,3.65,0,0,1-1.2-.24c-.31,1.94-1.84,1.73-3.12,2.64a29.61,29.61,0,0,1-4.56,3.12c-.85.37-3.21.57-4.32,1.44-.84,1.07-1.14,2.44-1.92,3.6l-2.64,1.92a11.28,11.28,0,0,0-1,4.32h.24c.59-1.13,3.12-1,4.56-.72.47,1.35,1.9,2.23,2.64,3.36a45.7,45.7,0,0,1,2.4,4.8c3.21,6.57,4,15.17,4.08,22.8-2.69-.41-5.08-1.33-7.68-1.92a15.9,15.9,0,0,0-5.76,0c-2,.35-3.42-.78-5.76-.24-4.11.93-8.44,1.48-12.24,2.88s-6.59,5.27-10.8,6c-.75-1.64-1.91-4.54-4.32-4.56-.4.79-1,1-1.44,1.68a26.57,26.57,0,0,0-2.4,4.8c-.48,1.21.1,3.29-.24,4.32-3.63,0-6.44,1.49-9.36,2.4l-3.12.48c-3.7,1.22-7.19,2.52-10.8,4.08l-6,3.84-4.32,1.44a54.66,54.66,0,0,0-7.44,5c-2.83,2.1-5.42,5.17-7.92,7.68l-1.92,2.16c-7,5.07-14.06,9.42-18.72,16.8h-.48c-.91-1.38-2.73-2.18-5-2.16-1.07,2.31-1.33,5.43-1.2,9.12l.48,3.12a8.55,8.55,0,0,1-2.4,2.88c-1.59,1.19-3.83,3.26-5.76,3.84s-3.41-.35-5,0c-4.64,1-10.11-.48-14.64.72-2.82.74-6,1.75-8.64,2.64-1.41.47-2.33.2-3.6.72-5.16,2.08-10.71,4.48-15.84,6.48h-1.68c-1,.26-2.31.92-3.36,1.2h-3.6a41.69,41.69,0,0,1-13.2.48c-5.13-.94-11.21.51-14.88-.72a41.89,41.89,0,0,1-9.6-4.56l-1-.24c-5.05-4.4-9.41-10.2-18-8.16-1,.23-2.38-.42-3.84,0-.28.08-1,.64-1.2.72h-1.68c-2.51,1-4.08,3.31-6.24,4.56l-1.2.24-1.44,1.92c-.85.49-1.49.3-2.4.72-2,.9-3.77,2.92-5.52,4.08h-.72l.24.48a20.27,20.27,0,0,0-3.36,4.32c-3.16,5.15-7,10-9.6,15.84-.33.74-.15,1.17-.48,1.92-.15.35-.83.9-1,1.2l-.24,2.4c-.52,1.06-2.09,2.15-2.4,3.36a7.37,7.37,0,0,1,.48,2.64c-.6,2.6-1.12,10.36-4.56,11.28v1c-2.47,1.9-5.14,5-8.4,6-1.47.43-5.86-.9-7.2-1.92l-.48-1a23.29,23.29,0,0,0-2.16-1.2c-3-2-4.81-7-6.24-10.56a27.67,27.67,0,0,1-1-4.32v-2.16c-.67-1.23-2.51-2.24-2.88-3.84-.73-3.11,1.89-7.84,3.36-10.08.69-1.06,1.66-1.59,1.92-3.12h.72c.41-2.35,2.64-4.14,3.84-5.76s1-4.34,2.4-6a161.08,161.08,0,0,0,10.32-14.4c.48-.73,1.63-1,2.16-1.68s.86-1.62,1.44-2.4c1-1.36,2.76-2.36,3.36-4.08a19.37,19.37,0,0,1-5.52-2.16h-1c-.64-.37-1.1-1.49-1.68-1.92s-2.14-.67-2.88-1.2c-.35-.25-.22-.84-.48-1.2-.52-.73-1.6-1-2.16-1.68a30.65,30.65,0,0,1-4.56-7.68c-.43-1-.64-7.13-.48-7.92s1.28-2.86,1-3.6c0,0-.93-.88-1-1-.49-1.31,0-8.64.48-10.08.94-3,5.37-4.49,5.52-6.72-2.36-1.54-4.25-5.16-3.36-9.84a62.06,62.06,0,0,1,2.4-7.68l.24-2.4c1-2.52,2.85-5.38,3.36-8.4h-.24v-.24c-1,0-2.2-.52-2.64-.48s-1.34.93-1.68,1-3.84-1.2-3.84-1.2c-2.4-1.26-7.24-10.5-8.64-13.44h-.24v1c-.63,1.27.3,7.44.24,9.12.86.69,1.29,1.94,2.16,2.64a17.83,17.83,0,0,0,2.16,1v.48H193c-1.8-1.16-3.73-.82-5.28-2.4-2.63-2.69-3.63-7.78-4.56-12.24-2.66-12.75.77-31.86,4.56-43.92,1.16-3.68,2.11-7,3.36-10.32.2-.55.08-2.24.72-3.12.19-.17.54-.32.72-.48-.43-.46-.44-.19-.24-.72,1.22-3.89,3.39-7.8,5.28-11.52.41-.81,2.2-3,1.92-3.36-.54-.81-2.11-.86-2.88-1.44-1.12-.86-4.09-4.5-4.32-6.24.55-.39.36-.52,1.2-.72.41.78.61,1.46,1.68,1.68.86-.82,6.9-.56,9.12-1.44,3.54-1.42,6.21-6.16,8.64-8.88.73-.83,1-2.53,1.92-3.12,1.72-1.13,5.45-2.5,5.76-4.8-1-1.37-.12-3.85-.24-5.52-.17-2.29,2.12-9.36,4.8-10.56,1-.69,2.15.08,3.12.24.86-1.13,1.44-.5,2.4-1.2.39-.29,0-.78.24-1.2.37-.58,1.36-.7,1.68-1.44.94-2.16-.62-5.46-.72-7.2-.06-1,.47-2.39-.24-3.84-.18-.37-1-.83-1.2-1.2l-.24-1.44h-.48c-1.05-1.52-1.28-3.39-2.4-4.8l-1-.48c-.87-1.15-1.18-2.58-2.16-3.6A23.74,23.74,0,0,1,221.28.17h20.64c.56.81,1.52,1,2.16,1.68,1.19,1.28,1.27,3.18,3.12,3.84C247.86,4.63,249.09,3.05,250.56,2.81Zm118.8,17.28h-.24v-.48C369.31,19.85,369.21,19.66,369.36,20.09Zm96.24,61h-.24v-.48C465.55,80.81,465.45,80.62,465.6,81.05ZM515,119.69c-.41-.16-.23,0-.48-.24C515,119.6,514.79,119.49,515,119.69Zm7,37.92v-.72c2.59-.58,3.8-2.67,5.76-3.84,1.07-.65,2.25-.86,3.12-1.68s.33-1.39,1.92-1.68V149c1.32-.15,1.64-1.1,2.88-1,2.77.31,6.25,3.64,8.16,5,3.08,2.24,6.59,3.71,9.84,5.76,1.61,1,3,2.85,4.56,3.84,1.12.7,2.74.18,4.08.72s6.14,2.3,6.72,3.36c1.15,1.6,1.19,6,1.44,8.16,0,.46-.52,1.79-.24,2.64.51,1.55,1.31,9.36.24,12.24-.43,1.14-1.59,2.56-1.92,3.6-.53,1.67,1.12,3.59,1.44,4.8.55,2.06-.62,3.29-1,4.56-1.78.56-2.35,1.42-5,1.44-1.37-1.21-3.42-1.17-3.84-3.36-1.51-2.07.52-5,1.68-6.48-1.15-.77-1.58-2.1-2.64-2.88s-4.25-.47-5.52-.72c-7-1.39-12.15-2.47-17.76.48-1.68.88-2.3,3-3.6,4.32v-.24c-1.08-.8-.94-2-1.68-3.12s-1.93-2.22-2.64-3.36c-.89-1.43-1.24-2.94-2.16-4.32-3-4.47-7.57-7.29-11.52-10.8C516.33,168.75,515.5,157.87,522,157.61ZM552.72,190h-.24v-.48C552.67,189.77,552.57,189.58,552.72,190Z"
                            stroke="white" stroke-width="1" />
                        <mask id="polka-mask">
                            <rect width="100%" height="100%" fill="#FFF" />
                            <use href="#polka-path" />
                        </mask>
                        <path id="botan-path"
                            d="M824.4,0h40.08A36.23,36.23,0,0,1,869,2.16c.28.2.32.86.72,1,.74.2,1-.4,1.92-.48v.72h1c1.1,1.58,5,4.27,7,5l4.56.48a95.33,95.33,0,0,0,11,2.4c2.8.37,6.88-.74,8.88-1.2.94-.22,2.34.3,2.88.24a69.25,69.25,0,0,1,8.88-.24c2.73-3.59,6.87-6,10.56-8.64.37-.27.81-1.25,1.2-1.44h28.56c1,1.85,3.05,3.4,3.84,5.28V273.84c-4.58,2.7-6.72,7-10.32,10.56-3.2,3.2-7.15,6.2-9.84,9.84-2.06,2.78-3.5,5.84-5.52,8.64-.69.95-1.94,1.7-2.64,2.64-3.85,5.18-6.74,8.41-8.4,16.08H923v-.24c-2.91-3.76-3.72-9.25-6-13.68-.68-1.31-2-2.81-2.64-4.08-1.55-2.93-2.24-5.85-4.08-8.4-2-2.72-4.84-4.84-7.2-7.2-1.16-1.15-2-2.92-3.36-3.84-.92-.62-1.89-.66-2.88-1.2-2.15-1.16-4-3-6-4.32-1-.66-2.1-.78-3.12-1.44-1.77-1.15-3.57-3.23-5.76-3.84h-4.32c-.73-.24-1.58-1.21-2.4-1.44a15.4,15.4,0,0,0-8.16.72c-.3.16-.59.8-1,1l-5,1c-.8.3-1.87,1.19-2.64,1.44-1.24.41-2.19-.06-3.12.48-1.82,1-4.15,2.38-6,3.6-1.05.69-2,2-3.12,2.64-5,2.82-10.09,4.77-14.64,7.92-1.92,1.32-3.41,3.68-5.28,5-2.49,1.81-5,3.24-7.44,5a30.87,30.87,0,0,0-4.08,3.84l-.24.72-1,.24c-2.64,1.91-4.24,5.58-7,7.44-2.17,1.48-4,2.79-6,4.32l-3.6,3.84a24.38,24.38,0,0,0-3.12,2.88c-.66.92-.74,2.2-1.44,3.12-.54.71-1.63.92-2.4,1.44a19,19,0,0,0-3.84,3.6c-1.31,1.74-3.83,6.18-6.24,6.48a30.14,30.14,0,0,0-4.56-2.16,16.8,16.8,0,0,1-2.64.72c-.88,0-2.81-1-4.08-.24l-.24.72c-1.3.74-2.1.15-2.88,0-.05,0-3.07.46-3.12.48-1.91.62-3.75,2.89-5.52,3.6-1.35.55-5-.36-6-.48-2.65-.32-5.78.91-7.44-.48,1-.15,1.16-.36,1.44-1.2-1.82-.9-2.58-2.87-4.32-3.84-2.25-1.25-4.36-1.46-7-2.4-.89-.32-1.81-1.32-2.64-1.68-1.32-.58-4-.64-5-1.44l-.24-.72c-.89-.69-2-1-2.88-1.68-.52-.43-.84-1.31-1.44-1.68s-1.29-.3-1.92-.72l-1-1.2-1.2-.24c-.33-.34-.16-1.09-.48-1.44s-1.25-.8-1.68-1.2c-.13-1.41-.82-3.06.24-4.08.85-.81,5.42-1.93,7.2-1.92v-.72c6.43-.24,11.43-2.14,16.32-4.56,1.09-.54,2.08-.38,3.12-1,.3-.17.59-.79,1-1h1c.29-.2,1-1.21,1.44-1.44,1-.54,2.31-.42,3.36-1,2.27-1.17,3.64-3.65,5-5.76.73-1.1,2.6-1.06,3.12-2.4a24.07,24.07,0,0,1-2.88-5.76V290.4c-.13-.28-.82-.61-1-1a36,36,0,0,1-2.4-15.36c0-1-.31-2.23-.24-2.88.19-1.7.83-3.9,1-5.76a23.74,23.74,0,0,0,3.12-2.64c.24-.32-.08-.73.24-1,.6-.44,1.2-.13,1.92-.48,1-.5,1.59-1.12,2.64-1.68h1c1.81-1.35,3.57-6.13,5-8.16,1-1.38,3.67-2.25,4.32-3.84l-.24-1.44h.48c1.11-2.28.11-5.53.48-7.92.27-1.7,1.17-3,1.44-4.56.78-.2.37.12.72-.48-.07-.13-.45-.5-.24-1s1.43-1.55,1.68-2.16c0-.12-.39-.93-.24-1.44a15.61,15.61,0,0,1,1-2.64c1.23-2.19,3.41-5,4.32-8.16.69-2.39-.09-4.48.24-6.48.2-1.2,1.23-2.95.72-4.8a9.83,9.83,0,0,1-.72-3.6c1.51-1.09,2.32-3,3.6-4.32.48-.49,2-1,2.16-1.68.22-.95-.54-.54-.72-1-.28-.65.27-1.61.24-1.92a36.3,36.3,0,0,1-.48-5.76,44.39,44.39,0,0,1,6.72-17.76l-.24-.72c.51-.79,1.68-1.62,2.16-2.4.7-1.14,1-2.44,1.92-3.36,1.15-1.17,3.15-2,3.6-3.84-3.6-2-3.75-7.92-3.12-11.76-.8-1.43.68-5.31,1.44-7a84.15,84.15,0,0,1,4.8-9.12l.24-1.44c.58-1,1.8-1.74,2.4-2.88h-1c-2.22,1.53-11.47,5.34-14.64,3.36-1.56-.5-2.17-1.76-2.88-3.12h.24v-.24h.48a3,3,0,0,0,2.4,1.44c.84-.43,3.54,0,4.8-.72,2.61-1.42,8.4-8.49,8.16-11.76-.56-.05-.68-.05-1-.24-5.91-1.8-5.52-18.8-3.84-24.72a33.22,33.22,0,0,1,1.92-5l-.24-1.2c.4-2,1.16-4.06,1.68-5.76V78.72a31.49,31.49,0,0,0,2.4-4.8c.76-2.28-.09-4.35.24-6.24,1.44-8.34,2.65-18.65,5.76-25.68.92-2.08,3.35-6.17,5-7.44,1.33-1,5.15-2.43,5.76-3.84a40.34,40.34,0,0,0,0-5.52c-.1-2.3,1.06-4.88.72-6.48,1.16-3.76,1.86-8.3,2.88-12l.24-2.88A19.56,19.56,0,0,0,824.4,0ZM956.88,4.56h-.24V4.08C956.83,4.33,956.73,4.14,956.88,4.56Zm-153.12,95c1.36,2.87,1.37,13.3-1.2,16.08v.24a8.27,8.27,0,0,1-1.2-4.56,17,17,0,0,0,.48-2.4c-.75-3.76.4-8.55,1.2-12.48C803.86,97.24,803.23,98.48,803.76,99.6Z"
                            stroke="white" stroke-width="1" />
                        <mask id="botan-mask">
                            <rect width="100%" height="100%" fill="#FFF" />
                            <use href="#botan-path" />
                        </mask>
                        <path id="nene-path"
                            d="M546.72,210.72h.72c.5,1.21,2.07,1.48,2.88,2.4a59.73,59.73,0,0,0,7,6.72c.92.76.56,1.67,2.16,1.92v.72c3.11,2.13,5,6,7.2,9.12,5,7.06,14.09,20.27,13.2,29-.64,6.31.49,9.28-3.6,13.2l-1.44-.24v-.24c2.35-1.76,2.28-5.95,1.44-8.64l.24-1.44c-.47-1.45-1.73-2.68-2.16-4.32h-.48c0,4.83-6,12.4-10.8,12.48a19.56,19.56,0,0,0,.48,2.64c.24,1.27-.61,2.65-.24,3.84.55,1.76,2.62,2.71,2.88,4.8h.72v.72c1.52.84,4.36,4.93,5.52,6.48.26-.18.23-.14.72-.24v.72c1.53.89,1.6,2.2,2.64,3.6l.72.24c1.56,2.54,4.56,11.71,3.84,14.88-.19.85-.58,1.72-.72,2.64,1.1.58,1.4,1.27,2.16,2.16.63.73,1.73,1,2.4,1.68,1.67,1.69,2.91,6,4.32,8.16,1,1.56,2.93,3.18,3.36,5.28-1,1,.56,2.49.24,4.08a9.27,9.27,0,0,0-.24,3.6c.36,1.15,1.48,2.84,1.2,4.56-.71,4.3.65,5,1.68,8.64a57.38,57.38,0,0,1,1.68,14.88c2.13.71,6.45,2.44,8.4,1a3.06,3.06,0,0,0,1-2.16c-.67-1.41-.26-4-1.44-5.76-.92-1.34-4.27-3.46-4.8-4.8a7.13,7.13,0,0,1,2.88-.48c.77-.28,8,2.61,8.88,3.36,1.19,1.37.91,2.58,1.44,4.8,1.28,5.32-.66,8.06-3.36,11.76-.65.88-1.88,1.38-2.4,2.4-.18.29,0,.67.24,1.2,1.56-.26,2.62,1.56,3.6,2.64l.72.24c.89,1.24.51,3.65,1.92,4.32h1.92c.74.46,2.07,0,3.12.24s6.3,1.52,8.16.72l.72-1H630a6,6,0,0,1,.24,1.92c-.32.42-.41.39-.24.72,1.11.72,3.83.25,5,.24.71-1.05,2.46-2,3.12-2.88v-1c.22-.34.89-.45,1.2-.72a1.47,1.47,0,0,1-.48-.48,13.33,13.33,0,0,0,2.16-2.4h.24c.51-.92,0-1.88.48-2.64,3.23-4.63,5.32-10,7.2-15.6l.72-.24v.24c.62.57.69,1.21,1.2,1.92.25-.19.07-.09.48-.24.29,1.34,1.39,2.12,1.92,3.12,2.17,4.08,5.77,10.89,4.8,15.6-.24,1.17.47,2.4-.24,3.12-.41.36-.31-.28-.72.48.71.53-.37,1.87-.72,2.88l.48.24a18.38,18.38,0,0,0,4.32,1.2c.22.69.76.95,1,1.44.66,1.57-.09,4,.24,5.28a16,16,0,0,1,.72,2.4,3.65,3.65,0,0,0-2.16,3.36c.53.45.08.56.48,1.2s1.39.88,1.68,2.16l-.24,1.68c0,1.31.41,1.76,0,3.12-.8,2.66-3.79,4.73-5,7.2l-.24,1.68c-.42.9-1.19,1.35-1.44,2.64a4.2,4.2,0,0,1,1,2.64c-.88.95-3.67,6.31-3.84,7.68,1.19.37.84,1.07,1.2,2.16,1.4.52,3.14.69,4.56,1.44.83.44,1.49,1.21,2.16,1.44,1.13.39,2.57-.75,3.36-1,3.14-.82,9.51-1,9.84,3.12.64,1.07-.49,3.27-.24,4.08a9.78,9.78,0,0,1,.72.72l1.92-.72a26.29,26.29,0,0,1,1.68-2.64c1.82-1.75,6.84-2.36,9.36-1,1.67.93,2.47,3,3.6,3.84,2,1.54,4.35,1.1,4.32,4.8.57.89,1.17,6.94,1,8.4-.17,1.23-1,1.73-.72,2.4-1,1.6-2.59,1.45-2.64,4.08.54-.1.26-.22.72,0,1.21,1.54,1,6.82,1,9.36-2.27.82-4.45,4.44-6.24,5.52-.71.43-1.09.27-1.68.72s-2.14,2.79-3.12,2.16c-2.09-.64-3.79-2.62-5.76-3.6s-3.87-1.17-5.76-2.16c-1.48-.78-2.89-2.26-4.32-3.12s-2.63-1.05-3.84-1.92-2-2.08-3.12-2.88c-.79-.58-1.9-.78-2.64-1.44s-.6-1.56-1.44-1.92H655.2c-.71-.4-1-2.11-1.68-2.64s-2-.64-2.88-1.2c-1.43-.88-2.69-2.49-4.32-3.12-6.22-2.41-12.63-4-18.72-6.24-1.24-.46-2.13-.25-3.36-.72-1-.36-2.1-1.36-3.12-1.68-2.85-.89-8.69,1.57-10.08.72-1.37-.5-2-1.89-3.12-2.64s-1.73-.21-2.88-.72c-.75-.33-2.44-1.62-3.36-1.92H599c-4.94-1.44-8.55.91-13,1-1.09,1.8-1.47,3-4.56,2.88-1.37.83-4.2-.15-6,.24-5,1.07-10.83.72-14.88,2.88-1.78.95-3.36,3.44-4.56,5-2.58,3.43-5.86,6.64-8.4,10.08-1.28,1.73-2.37,4.25-4.32,5.28a2,2,0,0,0-.24-1.2c-.38.3-.12.15-.48,0-.22-.46-.09-.28,0-1-1.49-.2-1-.82-2.64-1-.35,1.42-2,4.56-3.36,5-.32-.39-.15-.27-.72-.48-.18,1.37-2.23,3.78-3.84,3.84-1.19.74-3,.38-4.56.72-1,.23-7.86,1.59-9.84.24l-1-1.44a75.08,75.08,0,0,1-6.24-6.72l-3.36-3.12c-2.66-3.52-6.25-6.33-8.88-9.84-2.11-2.82-4.42-5.89-6.24-8.88l-1-2.88c-.31-.46-1.2-.4-1.68-.72a11.89,11.89,0,0,1-4.32-5c-.42.15-.23.05-.48.24s-.44.68-.72,1c-1.94-1.46-5.84-2.15-6-5.28.62-.87.13-1.63,0-2.16-.17-.7.41-1.43.24-2.16-.24-1-1.32-2.26-1.68-3.12-.72-1.73.3-3.37-1.92-3.6-1.47.83-4.9.05-4.8-1.68.42-.15.23-.05.48-.24-.69-.61-.36-1.07-.24-2.16a28.49,28.49,0,0,1-7.68-3.36c-1.11-.66-1.58-1.82-3.12-2.16.12,2.23,1.19,6.24.48,8.16-.24.66-1.14,1.65-1.44,2.4-.45,1.12-.41,2.12-1.44,2.64v-.24c-.75-1.22-.05-4-.24-5a17.34,17.34,0,0,0-1-2.88c-.53-1.13-2-1.88-2.64-2.88-.8-1.2-.94-2.36-1.68-3.6-.28-.48-1.09-.56-1.44-1-1.1-1.22-1.61-2.8-2.64-4.08-.72-.89-2.13-1.3-2.88-2.16-.23-.27,0-.73-.24-1-.56-.48-1.31-.53-1.92-1-2.64-1.85-5.43-4.2-8.64-5.52H432c-1.64-.53-5.5-1.89-6.48-3.12-2.95-3.71-2.93-7.13-3.36-13.2-4.42-1.28-5.59-5.9-7.44-9.84-.71-1.52-2.21-3.26-2.88-4.8a15.78,15.78,0,0,1-1-5.28,31.48,31.48,0,0,1-1.68-5.28l.48-1.44c.05-1.39-1-2.7-.48-4.32a15.64,15.64,0,0,0,.48-4.32c-.24-1.62.62-3.7-.24-5.28-.1-.18-1.93-2.63-2.16-2.88l-.72-.24-.48-1.44c-.4-.46-1.31-.72-1.68-1.2-1-1.35-4.31-6.33-5.76-6.72-.25-.19-.07-.09-.48-.24v.72c.89,1.38.39,6.35.48,7.92.06,1-.13,2.25.24,2.88-.08.63-.63.6-.24,1.68s3.44,3.68,4.32,4.08c.35.16.72-.24.72-.24a11.84,11.84,0,0,1,2.64.72c.19.28.19.4.24,1-3.12.58-4.75,0-7.68-.24-.2-.78.12-.37-.48-.72-.38.3-.12.15-.48,0a15.83,15.83,0,0,1-4.08-4.8c-1.06-2.32-2.61-13.86-2.16-16.8l-.24-3.12a43.25,43.25,0,0,1,.48-8.4c0-.22-.24-1.54-.24-2.16a25.65,25.65,0,0,1,.48-5.76,3.41,3.41,0,0,0-1-.24,16,16,0,0,1-2.88.48,3.92,3.92,0,0,1-1-2.64c.18-.26.14-.23.24-.72-.51-.29-1-1-1.44-1.2-2.29-.92-5,.79-5.28-2.4a10.67,10.67,0,0,0,2.4-3.6c-1.28-1.14-1.58-4.16-1.44-6-6.94-4.3-16.32-7.49-14.64-19a50.68,50.68,0,0,1,1-6c.57-1.84.3-4.31,1.2-5.76l.72-.24c.06-.12-.39-.73-.24-1.2a12.93,12.93,0,0,1,1-2.16c1.62-2.52,4.05-4.27,4.56-7.92-1.12-.61-2.25-1.25-2.4-2.88a2.73,2.73,0,0,0,.48-1.2c1.93-.46,7.11-3.55,7.68-5.28.07-.65-.42-2-.48-3.12-.13-2.61.57-5.51,1.2-8.64a11.32,11.32,0,0,1,1.92-.72,21.85,21.85,0,0,0,4.08,2.4c3.41-6.76,13-12.46,18.24-17,1.45-1.27,5.25-4.14,5.76-6h1v-.72c1.14-.62,3.25-1.76,3.6-3.12.86-.08.8-.18,1.44,0l-.24-.72c1.24-.31,1.68-1.38,2.64-1.92s8.22-3.91,8.64-3.84v-.72c1.43-.14,1.09-.76,1.92-1.2l1.68-.24c1.51-.74,3.47-1.93,5-2.64h1.2l.72-1,1.2.24.24-.72c1.07-.55,2-.25,3.12-.72,3.93-1.69,9.82-2.27,13.68-4.08-.63-3.45,1.25-4.56,2.4-7.2.52-1.19.12-1.83,1.2-2.4.39-.36.49-.37,1.2-.48a40.59,40.59,0,0,0,3.12,4.08c.26.18.23.14.72.24,1.66-1.63,7.33-4.47,10.08-5v-.72c3.26-.17,6.41-1.7,8.88-2.4h2.16a14.78,14.78,0,0,1,5.28-.72,6.21,6.21,0,0,0,1.92.24c.19-.05.77-.66,1-.72,1.93-.64,6.72,1.51,7.68,2.16,3-.46,6,1.89,7.92,3.36,1,.77,3,.91,4.08,1.68a59,59,0,0,1,6,4.8c-.22.53-.21.35-.48.72,2,.1,7.68,9.65,9.12,12,1.1,1.8,1,4,3.6,4.32.42.21,1.67.19,2.4.48.67,1.66.12,4-.24,6,1.34.35,1.68,1.33,2.64,1.92,1.51.92,2.93,1.39,4.32,2.4.55.4.72,1.23,1.2,1.68C544.86,209.26,546.31,209.12,546.72,210.72ZM382.56,289c-.41-.15-.23,0-.48-.24C382.49,288.87,382.31,288.77,382.56,289Zm39.12,82.8h.24v5.52c-.69-.49-1-1.2-1.68-1.68v-5.76A3.3,3.3,0,0,1,421.68,371.76ZM523.2,457.92c1.32.82,4,1,4.8,2.4h.24v.24c-1.47.64-4.73,3.62-6,3.6s-3-.08-4.32,0c-.8-.81-2.2-1.26-2.88-2.16s-.44-1.75-1.2-2.4c.23-1.22,0-2.37.24-3.12.06-.21.67-.94.72-1.2.29-1.44-.47-2.34,0-3.84C518.08,452.53,520.37,456.16,523.2,457.92Z"
                            stroke="white" stroke-width="1" />
                        <mask id="nene-mask">
                            <rect width="100%" height="100%" fill="#FFF" />
                            <use href="#nene-path" />
                        </mask>
                        <path id="lamy-path"
                            d="M760.56,2.58c.09.5.06.46.24.72.66-.29,2.22.65,2.88,1.2.35.45.17.65.72,1,1-.42,1,.57,1.68,1l1.44.24c2.08,1.31,3.79,3.89,6.48,4.56.09.5.06.46.24.72.56.6,1.29.65,1.92,1.2.28.24.18,1,.48,1.2a33.23,33.23,0,0,1,6.48,7c.41.56,1.33,1.08,1.68,1.68.92,1.58,1.82,3.05,2.64,4.56.27.51.13,1.19.48,1.68.2.28.79.31,1,.72l.24,2.16c.31.64,1.37,1.5,1.68,2.16l.24,2.16c.27.65,1.39,1.31,1.68,1.92.2.42-.14.77-.24,1A80.62,80.62,0,0,1,798.72,53c1.47,4,6.86,9.7,5.28,15.84s-3.91,11.31-5.76,16.8c-.83,2.47-.79,5-1.44,7.68v2.64a27.86,27.86,0,0,0-1.2,6c-1.91.1-3.31.89-5,1.2-.59-.21-.88-.74-1.68-1v.48c.46.68.35,2,1,3.36.48,1,1.93,2.66,2.16,3.84.12.61-.44.49-.48.72-.15.9,1.17,1.86.72,3.36-.33,1.08-1.61,3.38-2.16,4.56a7.31,7.31,0,0,1-.48,3.6c-.21.41-1,.7-1.2,1.2-1.07,3,1.68,3-1.44,5.76a21.39,21.39,0,0,0,1.2,5.52l-.24,1.44c.1.53.59,1.81.72,2.4v3.36c.5,2.27,1.28,4.77.48,7.68a51.73,51.73,0,0,1-4.8,10.56c-1.1,0-1,.48-1.92.72s-1.84-.47-2.64-.24c.83,2.74-1.74,6-.72,8.16.82,2.33,7,4.22,9.6,5.28-1.63,4.5-4.16,9.46-4.32,15.12H785l-.24,6.24c.25.63,1.19,1.24.48,2.4-.75,1.63-3.06,3.37-4.8,4.08a23.83,23.83,0,0,0-.48,4.08h1.2c.07,3.35-1,5.76-1.68,8.4v4.08a38.36,38.36,0,0,1-1.44,5.52c-.16.39-.78.81-1,1.2-.83,1.8-1.15,3.62-2.16,5.28-.69,1.13-1.91,2.31-2.4,3.6-1.2,3.16.24,8.36-1,11.52-.84,2.2-3.08,3.72-4.32,5.52-1.51,2.2-2.52,4.37-4.08,6.48-2.58,3.51-10.09,5.25-11.52,9.6v6.72l.24,7.92c1.75,5.29,6,12.17,5.28,18.72-1.07.68-1.65,1.95-2.64,2.64-1.47,1-3.08,1.59-4.56,2.64-.49.35-.91,1.11-1.44,1.44l-2.64,1c-2.27,1.34-4.44,3.15-7.2,4.08-1.77.6-3.23.15-5,.72-4,1.28-8.62,2.69-12.48,4.08-1.53.55-3.77.11-5,1a6.52,6.52,0,0,0-.24,2.88,43.73,43.73,0,0,1,5,4.08c.67.85,1.42,2.42,2.4,2.88,2.87,1.36,7.64,1.46,8.64,4.56a3.58,3.58,0,0,1-1,.48c-5.49,4.32-16-2.64-22.08-2.64a47.52,47.52,0,0,0-9.36,1.2c-.73.21-1.23-.41-1.68-.24-.85.32-2.14,1.27-3.36,1.44a66.62,66.62,0,0,1-7-1.44c-2,.85-4.76-.78-7.68-.48-3.16.33-5.23,1.1-8.16,1-1.07,4.29-3.3,5.32-6.48,7.44a13,13,0,0,0-2.4,2.88c-1.94,2.52-4.94,4.48-7.2,6.72s-3.69,5.45-7,7v.72c-1.24.3-1.53,1.21-2.4,1.68a10.52,10.52,0,0,1-3.12.72c-5.06,1.21-7.38.17-11.52-1-3.47-.94-5.33.48-8.16-.72-1.74-.74-2.36-3-4.08-3.6H617c-1.14-.27-3.41-.47-4.32-1-1.29-.69-2.85-3.29-4.56-4.32-2.42-1.46-5.47-1.56-7.68-3.12-1.5-1.05-1.05-2.87-1.92-4.08-.44-.62-1.53-1-1.92-1.68-.95-1.73-1.34-3.46-2.64-4.8-.54-.55-1.59-.95-1.92-1.68V329.7c-.24-.38,0-1.13-.24-1.68-.42-.89-1.84-2-2.4-2.88s-.56-2.35-1.2-3.36c-1.07-1.7-2.37-3.59-3.6-5.28L583,315.06c-.46-.62-.5-1.27-1-1.92-.89-1.25-2.36-.85-2.64-2.88,2.56-2.67,0-10.09-1-12.48-1.6-4-4.3-6.66-6.72-9.84-1-1.34-3-2-3.84-3.6l-.48-3.6c-.25-.73-1.14-1.44-1.44-2.16L564,271.14c3.28-.84,6.66-3,7.92-5.76.83-1.85.9-4.24,1.68-6l.48.24c.84,1.53,3,7.85,2.4,10.32-.33,1.45-1.05,2.29-1.2,3.84a3.07,3.07,0,0,0,1.68-.24c3.33-1.14,3.73-7.73,2.64-11.76v-5a37,37,0,0,0-.72-4.08c-.52-1.42-1.67-2.86-2.16-4.32-.43-1.26-.11-2-.72-2.88-.4-.62-1.33-1.25-1.68-1.92-1.08-2-1.43-3.95-2.64-5.76-1-1.44-2.62-2.66-3.6-4.08-.79-1.15-.91-2.36-1.68-3.6-.6-1-1.39-.58-1.68-2.16,2.2-1,3.41-3.66,4.8-5.52,1.13-1.5,3.48-2.6,4.32-4.32.49-1-.26-1.15,0-2.16.31-1.21,1.42-3.25,2.64-3.6v-1H577v.24h.24v-.24c.51-.59.8-1.47,1.44-1.92s1.92-.46,2.4-1.2c1-1.45.54-3.6,1.68-4.8,1.42-1.48,5.09-1.91,6.24-2.88,1.57-1.77,2.57-5.69,3.84-7.92.32-.56,1.28-.95,1.68-1.44l.24-1.44c.46-.8,1.63-1.62,2.16-2.4s.63-1.69,1.44-2.16v.24h.24c0-1.46.31-2.71,1.92-2.88v-1.44c2.64-1.8,4.06-5.37,6.24-7.68.52-.55,1.57-1.45,1.92-1.44h.24v-1c.54-1,2.56-2.14,3.36-3.12.33-.4.06-.89.48-1.2a19.94,19.94,0,0,0,5.28-5.28c1.43-2.36,2.25-4.92,3.6-7.44-3-1.56-5-2.49-4.8-6.72,1.1-.63,1.54-1.57,2.4-2.4.64-.61,1.6-.45,2.4-1s1.6-1.64,2.4-2.16c1.3-.84,2.73-.33,2.88-2.4a5.6,5.6,0,0,1-.48-1.68c-2.11-.41-2.87-2.67-4.56-3.6v-1c-.5-.09-.46-.06-.72-.24a19.17,19.17,0,0,1-3.12-5.28h-.48v1c.6,1,.06,5,1,7,.79,1.76,3.51,2.84,3.84,4.32h-.48c-1.89,1.07-3.57-1.65-4.56-2.4-2.7-2.05-3.93-6-5-9.6-.6-2,.41-4.15-.72-6-.28-.19-.4-.18-1-.24-.66.69-2.77.15-4.08-.24-3.24-1-7.31-1.8-10.32-3.12-.18-2.4,1-3.91,2.4-6,.46-.7,1.75-1.18,2.16-1.92l-.24-.72,1-.48a19.63,19.63,0,0,0,2.64-6.72c-1.43-.67-5.15-2.24-6-3.36-.47-.62-.13-1.06-.48-1.92-.2-.49-1-.79-1.2-1.2l.24-.72c-.27-.5-1.13-1.16-1.44-1.68l-.72-2.16c-1.14-2.08-3.21-4.15-3.36-7.2a2.66,2.66,0,0,0,.48-.72c3.89-.37,6.8-.4,10.08-1.2h1.92a11.61,11.61,0,0,1,3.12-1c-.07-2.14-1.37-3.57-1.92-4.56L605,76h-.48c-.36-.56-.17-1.37-.48-2.16a2.69,2.69,0,0,0,.72-1.2,24,24,0,0,0,3.84-.48V71.7c-.72-.65-.83-2.47-1.2-3.6a25.8,25.8,0,0,1-1-3.12c-.25-1.44.68-3,1-3.84l.24-2.88c.87-3.14,1.27-5.85.48-8.4-.69-2.22-.25-6.45,1.92-6.72.52.29,1-.2,1.92,0,1.63.35,2.29,1.26,3.6,1.92l1.68.24L618.72,47c.88.53,1.54.45,2.4,1s1.29,1.41,2.4,1.92c0,.8-.52.58.24,1,.36-.4.17-.24.48-.24.22.46.09.28,0,1a2.76,2.76,0,0,1,2.4,2.64h.72a3.86,3.86,0,0,0,1.92,1.92c1.22-3.75,6.63-6.3,6.72-10.56a2.84,2.84,0,0,1-1-1,1.47,1.47,0,0,0,.48-.48H635c-.35.61.05.27-.72.48-.29-2.18-2.59-6-3.12-8.16l.24-1.44c-.17-.58-1-1.56-1.2-2.16a47.27,47.27,0,0,1-1.2-5.28c-.55-2-2.42-7.15-1.44-9.84a44.74,44.74,0,0,1,7.44-13c.52-.66,1.65-1,2.16-1.68a18.18,18.18,0,0,1,1.92-2.4c1.45-1.12,6.06-.48,8.4-.48h109C756.63.64,759.6,2.41,760.56,2.58Z"
                            stroke="white" stroke-width="1" />
                        <mask id="lamy-mask">
                            <rect width="100%" height="100%" fill="#FFF" />
                            <use href="#lamy-path" />
                        </mask>
                    </defs>

                    <use href="#photo" />

                    <a id="polka" href="/2021/polka">
                        <use class="hover-photo" href="#grayscalePhoto" mask="url(#polka-mask)" />
                        <use class="hover-path" href="#polka-path" />
                    </a>
                    <text class="hint-text" x="35%" y="98%">&#10140; Omaru Polka site | 尾丸ポルカサイト</text>
                    <a id="botan" href="/2021/botan">
                        <use class="hover-photo" href="#grayscalePhoto" mask="url(#botan-mask)" />
                        <use class="hover-path" href="#botan-path" />
                    </a>
                    <text class="hint-text" x="35%" y="98%">&#10140; Shishiro Botan site | 獅白ぼたんサイト</text>
                    <a id="nene" href="/2021/nene">
                        <use class="hover-photo" href="#grayscalePhoto" mask="url(#nene-mask)" />
                        <use class="hover-path" href="#nene-path" />
                    </a>
                    <text class="hint-text" x="35%" y="98%">&#10140; Momosuzu Nene site | 桃鈴ねねサイト</text>
                    <a id="lamy" href="/2021/lamy">
                        <use class="hover-photo" href="#grayscalePhoto" mask="url(#lamy-mask)" />
                        <use class="hover-path" href="#lamy-path" />
                    </a>
                    <text class="hint-text" x="35%" y="98%">&#10140; Yukihana Lamy site | 雪花ラミィサイト</text>
                    <circle class="hint-point" id="polka-point" r="10px" cx="35%" cy="36%"></circle>
                    <circle class="hint-point" id="botan-point" r="10px" cx="92%" cy="36%"></circle>
                    <circle class="hint-point" id="nene-point" r="10px" cx="55%" cy="66%"></circle>
                    <circle class="hint-point" id="lamy-point" r="10px" cx="72%" cy="36%"></circle>
                    <g class="link-btns">
                        <a href="/2021/nene">
                            <rect class="link-btn" rx="15" x="53%" y="89%" width="100px" height="50px"></rect>
                            <text x="54.7%" y="95.2%">Nene</text>
                        </a>
                        <a href="/2021/polka"><rect class="link-btn" rx="15" x="64%" y="89%" width="110px" height="50px"></rect>
                        <text x="66.1%" y="95.2%">Polka</text></a>
                        <a href="/2021/lamy"><rect class="link-btn" rx="15"x="76%" y="89%" width="100px" height="50px"></rect>
                        <text x="77.7%" y="95.2%">Lamy</text></a>
                        <a href="/2021/botan"><rect class="link-btn" rx="15" x="87%" y="89%" width="110px" height="50px"></rect>
                        <text x="88.9%" y="95.2%">Botan</text></a>
                    </g>
                </svg>
            </div>
        </div>
        <section id="book">
            <div id="book-container" data-aos="fade-up">
                <div class="book-promo">
                    <div class="book-showing">
                        <img class="bookcover" src="dist/img/ncover.png"/>
                        <img class="bookcover" src="dist/img/pcover.png"/>
                    </div>
                    <div class="book-showing">
                        <img class="bookcover" src="dist/img/lcover.png"/>
                        <img class="bookcover" src="dist/img/bcover.png"/>
                    </div>
                </div>
                <div class="dl-cta">
                    <p class="title has-text-white">改めて、一周年おめでとう！</p>
                    <div class="paragraph-msg has-text-white">
                        <p lang=ja>ねぽらぼの皆さんへの</p>
                        <p lang=ja>メッセージとファンアートを</p>
                        <p lang=ja>電子本の形にしました.</p>
                        <p lang=ja>気に入ってくれると嬉しいです.</p>
                    </div>
                    <a href="book/index.html">
                        <button class="wide-btn">
                            <h3>DLページへ</h3>
                        </button>
                    </a>
                </div>
            </div>
        </section>
        <section id="letter-msgs">
            <div class="sect-title" data-aos="fade-up">
                <h1>Messages</h1>
                <h3 lang="ja">手紙</h3>
                <a id="artbook-shortcut" href="#artbook" onclick="reclick(this)">`
                    <p>&#10140; To Artbook / 画集へ</p>
                </a>
            </div>
            <div class="card-columns">
                {{#each messages}}
                <div class="letter-msg-card-container" data-aos="fade-up">
                    <div class="letter-msg-card card">
                        <div class="berry"></div>
                        <div class="berry"></div>
                        <div class="berry"></div>
                        <div class="sender-details">
                            <div class="sender-name-container">
                                <span class="sender-name">{{username}}</span>
                                {{#with twitter}}
                                <span class="twitter-name text-muted">@{{this}}</span>
                                {{/with}}
                            </div>
                                <div class="stamp-outer">
                                    <div class="stick"></div>
                                {{#if country_code}}
                                    <span class="flag-icon flag-icon-{{country_code}}" title="{{country_name}}"
                                            alt="{{country_name}}"></span>
                                {{else}}
                                    <div class="color-flag"></div>
                                {{/if}}
                                </div>
                        </div>
                        <div class="letter-msg">
                        {{#if message}}
                            <blockquote class="blockquote mb-0" {{#if isMsgInJP}}lang="ja" {{/if}}>
                                <!-- htmlmin:ignore -->
                                <p>{{message}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{#if message_jp}}
                            <hr>
                            <blockquote class="blockquote mb-0" lang="ja">
                                <!-- htmlmin:ignore -->
                                <p>{{message_jp}}</p>
                                <!-- htmlmin:ignore -->
                            </blockquote>
                            {{/if}}
                        {{/if}}
                            {{#if artwork_url}}
                            <hr>
                            <div class="msg-art">
                                <a href="#to-{{artwork_url}}">
                                    <img srcset="{{artwork_url}} 150w" sizes="150px" src="{{artwork_url}}" alt="" title="" />
                                </a>
                            </div>
                            {{/if}}
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </section>

        <section id="artbook">
            <div class="sect-title" data-aos="fade-up">
                <h1>Artbook</h1>
                <h5>(Click to enlarge)</h5>
                <h3 lang="ja">画集</h3>
                <h5>（写真をクリックすると拡大できます）</h5>
                <a id="msgs-shortcut" href="#letter-msgs" onclick="reclick(this)">
                    <p>&#10140; To Messages / 手紙へ</p>
                </a>
            </div>
            <div id="artbook-gallery">
                {{#each artbook_data}}
                <a id="to-{{thumbnail_small}}" href="{{fullpage}}" data-aos="fade-up">
                    <img class="artbook-page" srcset="{{thumbnail_small}} 150w, {{thumbnail}} 500w" sizes="(max-width: 700px) 150px, 500px" src="{{thumbnail}}" alt="" title="" />
                </a>
                {{/each}}
            </div>
        </section>

        <footer id="credits" data-lang="jp">
            <div class="credits-column">
                <div class="lang-btns credits-section">
                    <button class="lang-btn" id="credits-jp">
                        JP
                    </button>
                    <button class="lang-btn" id="credits-en">
                        EN
                    </button>
                </div>
            </div>
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">Project Organizer</h4>
                    <h4 class="cred-jp">企画担当</h4>
                    <p>Timekiller_74</p>
                    <p>Alexander124</p>
                    <p>Broom</p>
                    <p>nonJerry</p>
                    <p>Hosu</p>
                    <p>Corneus/コトネウス</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Translator</h4>
                    <h4 class="cred-jp">翻訳</h4>
                    <p>mugichos</p>
                    <p>chimatta</p>
                    <p>Theldeon</p>
                    <p>BaKamen</p>
                    <p>Vanilla</p>
                    <p>kurapan</p>
                    <p>Vee</p>
                    <p>vtange</p>
                </div>
            </div>
            <!--
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">Fan Book</h4>
                    <h4 class="cred-jp">ファンブック</h4>
                    <p>Broom</p>
                    <p>nonJerry</p>
                    <p>Alexander124</p>
                    <p>Caudy</p>
                    <p>Timekiller_74</p>
                    <p>Forever9nine</p>
                    <p>Sephi</p>
                    <p>StrawberryCandy</p>
                    <p>Crescent</p>
                </div>
            </div>
            -->
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">Art featured on artbook by</h4>
                    <h4 class="cred-jp">画集のイラスト</h4>
                    <p>三世吾郎</p>
                    <p>保村</p>
                    <p>赤日REDアカヒ</p>
                    <p>じえしにくちゃん</p>
                    <p>コトジ幸時</p>
                    <p>ひらい いち。</p>
                    <p>ミミック</p>
                    <p>ろぼった</p>
                    <p>よーぐる</p>
                    <p>ItsyoboiBrent</p>
                    <p>jjtri</p>
                    <p>Jobi</p>
                    <p>Lkes</p>
                    <p>Misa</p>
                    <p>miscinsanity</p>
                    <p>Ortrus</p>
                    <p>Pericuinkle</p>
                    <p>Raze雪花</p>
                    <p>Sayohyou</p>
                    <p>tastelikecoke</p>
                    <p>vlackSR</p>
                    <p>WEST</p>
                    <p>D̆͆͐ỉͧ̾xͩĭ͐t̐͐̔ 🐾</p>
                    <p>Aman</p>
                    <p>悠</p>
                    <p>角卷Hippo</p>
                </div>
            </div>
            <div class="credits-column">
                <div class="credits-section">
                    <h4 class="cred-en">Website</h4>
                    <h4 class="cred-jp">ウェブサイト</h4>
                    <p>vtange</p>
                    <p>Hosu</p>
                    <p>Warthog</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">NePoLaBo art</h4>
                    <h4 class="cred-jp">ねぽらぼイラスト</h4>
                    <p>Forever9Nine</p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Other Resources</h4>
                    <h4 class="cred-jp">他の素材</h4>
                    <p><a href="https://www.pixiv.net/artworks/83510355" target="_blank" rel="noopener noreferrer">
                            ストライプテクスチャ3 by くろま /
                            Pixiv</a></p>
                </div>
                <div class="credits-section">
                    <h4 class="cred-en">Special Thanks</h4>
                    <h4 class="cred-jp">スペシャルサンクス</h4>
                    <p class="cred-en">To everyone who supports this project</p>
                    <p class="cred-jp">当企画を応援している皆様</p>
                    <p>&nbsp;</p>
                    <p class="cred-en">This is strictly a fan site. We are not related to Cover Corp. nor Hololive in any way.</p>
                    <p class="cred-jp">当ウェブサイトはホロライブのファンによって運営されている非公式ファンサイトです。<br>カバー株式会社およびホロライブプロダクションとは一切関係ありません。</p>
                </div>
            </div>
        </footer>
    </div>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js" type="application/javascript"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/simplelightbox/2.7.0/simple-lightbox.min.js"
        integrity="sha512-ZajFBgnksNp8Rj+AbmYe8ueOu45HiSjtf3QpqnRbHlq719m6VK0FkbYIqQ8wEnlVuJ1i9pC+z6Z9ewmDnUTMCg=="
        crossorigin="anonymous" type="application/javascript"></script>
    <script src="dist/index.js" type="application/javascript"></script>
    <script src="dist/main.js"  type="application/javascript"></script>
</body>

</html>